.jumbotron {
    background-image: radial-gradient(cornsilk, lightgreen, cornflowerblue);
    

}


#myDIV {
    border: 1px solid cornflowerblue;
    width: 400px;
    height: 100px;
    margin-right: 25px;
    -webkit-animation: mymove 5s infinite;
   
    animation: mymove 5s infinite;
}




#myImg {
    width: 300px;
    height: 600px;
    object-fit: cover;
    margin-left: 25px;
    object-position: 0% 0%;
    -webkit-animation: mymove 5s infinite;
    /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
    position: relative;
   
}


/* Standard syntax */
@keyframes mymove {
    0% {
        object-position: 0% 0%;
    }

    25% {
        object-position: 20% 0%;
    }

    100% {
        object-position: 100% 100%;
    }
}

#myDIV {
    height: 1000px;
    width:400px;
    background-color: cornsilk;
    color: cornflowerblue;
    -webkit-animation: mymove 15s infinite;
    /* Chrome, Safari, Opera */animation: mymove 5s infinite;
    position: relative;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }